<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>房价分析系统</title>

<script src="../static/js/jquery/jquery_3.6.0.js"></script>
<script src="../static/js/kriging/kriging.js"></script>

<link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<script src="../static/js/bootstrap/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" href="../static/ol/ol.css" />
<script src="../static/ol/ol.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="margin-left: 1em;margin-right: 1em;">
            <a class="navbar-brand" href="#">OurHousePrice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">                   
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="bs-docs-section" style="margin-top: 1em;margin-left: 1em;margin-right: 1em;margin-bottom: 0.5em; border-right: 1px;">
        <div class="row">
            <div class="container col-md-2">
                <ul class="nav nav-pills flex-column" id="tool_box">
                    <li class="nav-item" >
                        <a class="nav-link active" href="#" id="data_show_control_label" onclick="OpenDataShowCard()">数据展示</a>
                        <div id="data_show_control_card" class='card bg-light mb-3' style="margin-top:0.5em;" ondblclick="DataShow()">
                            <div class="form-check" style="margin-left:1em;margin-top: 1em;margin-bottom: 1em;">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="house_check">
                                    <label class="form-check-label" for="House_check">房屋</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="hospital_check">
                                    <label class="form-check-label" for="Hospital_check">医院</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="school_check">
                                    <label class="form-check-label" for="school_check">学校</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="environment_check">
                                    <label class="form-check-label" for="environment_check">公园</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="subway_check">
                                    <label class="form-check-label" for="subway_check">地铁</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="bus_station_check">
                                    <label class="form-check-label" for="bus_station_check">公交车站</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="shopping_check">
                                    <label class="form-check-label" for="shopping_check">购物中心</label>
                                </div>

                                <br>

                                <div>
                                    <input class="form-check-input" type="checkbox" id="all_check" onclick="CheckOrCancelAll()">
                                    <label class="form-check-label text-primary" for="All_check">全选</label>
                                </div>


                            </div>

                        </div>
                    </li>
                     <li class="nav-item" >
                       <a class="nav-link" href="#" id="data_select_control_label"  onclick="OpenDataSelectCard()">房价查询</a>
                    </li>                                
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="condition_select_control_label"  onclick="OpenConditionSelectCard()">条件检索</a>
                        
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="data_analysis_control_label" onclick="OpenDataAnalysisCard()">房价分析</a>
                        <div id="data_analysis_control_card" class='card bg-light mb-3' style="margin-top:0.5em;display:none ">
                            <div class="form-check" style="margin-left:1em;margin-top: 1em;margin-bottom: 1em;">
                                <div>
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="heat_map" onclick="heat_map()">
                                    <label class="form-check-label" for="heat_map">热力图分析</label>
                                </div>

                                <div>
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="predict_interpolation_map" onclick="predict_interpolation_map()">
                                    <label class="form-check-label" for="heat_map">预测插值</label>
                                </div>

                                <div>
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="other_map" onclick="other_map()">
                                    <label class="form-check-label" for="heat_map">其他分析</label>
                                </div>
                                
                                <br>

                                <div>
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="remove_map" onclick="analysis_remove()">
                                    <label class="form-check-label text-primary" for="heat_map">清空</label>
                                </div>


                            </div>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="data_predict_control_label" onclick="DataPredict()">房价评估预测</a>
                    </li>
                </ul>
            </div>

            <div class="container col-md-10">
                <!--地图容器-->
                <div id="map" style="width: 100%; height: 670px;">
                </div>
            </div>
        </div>

        <!--条件检索模态框显示-->
        <div class="modal" id="condition_select_control_card" style="display:none">
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="position:relative;right:200px;top: 100px; width: 650px;height: 400px;">
                    <div style="margin-left: 30px;margin-top: 10px;margin-right: 20px;">
                        <div class="row">
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px;" >
                                <label class="form-label mt-4">区域</label>
                                <select class="form-select small" id="condition_region" style="width: 175px;">
                                    <option value="1">云龙区</option>
                                    <option value="2">鼓楼区</option>
                                    <option value="3">铜山区</option>
                                    <option value="4">泉山区</option>
                                    <option value="5">金山桥开发区</option>
                                    <option value="6">新城区</option>
                                    <option value="7">贾汪区</option>
                                </select>
                            </div>
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px" >
                                <label class="form-label mt-4">屋型</label>
                                <select class="form-select small" id="condition_roomtype" style="width: 175px;">
                                    <option value="1">一室</option>
                                    <option value="2">二室及以下</option>
                                    <option value="3">三室及以下</option>
                                    <option value="4">四室及以下</option>
                                    <option value="5">五室及以下</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>

                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px">
                                <label class="form-label mt-4">建筑面积</label>
                                <select class="form-select small" id="condition_area" style="width: 175px;">
                                    <option value="1">小于50㎡</option>
                                    <option value="2">50-80㎡</option>
                                    <option value="3">80-120㎡</option>
                                    <option value="4">120-150㎡</option>
                                    <option value="5">大于150㎡</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px;" >
                                <label class="form-label mt-4">房屋价格</label>
                                <select class="form-select small" id="condition_all_price" style="width: 175px;">
                                    <option value="1">小于50万</option>
                                    <option value="2">50-100万</option>
                                    <option value="3">100-150万</option>
                                    <option value="4">150万以上</option>
                                    <option value="0">全选</option>
                                 </select>
                            </div>
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px" >
                                <label class="form-label mt-4">房屋单价</label>
                                <select class="form-select small" id="condition_unit_price" style="width: 175px;">
                                    <option value="1">小于5000元</option>
                                    <option value="2">5000-10000元</option>
                                    <option value="3">15000-20000元</option>
                                    <option value="4">20000元以上</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px" >
                                <label class="form-label mt-4">房屋朝向</label>
                                <select class="form-select small" id="condition_direction" style="width: 175px;">
                                    <option value="1">朝南</option>
                                    <option value="2">朝东</option>
                                    <option value="3">朝北</option>
                                    <option value="4">朝西</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px">
                                <label class="form-label mt-4">楼层</label>
                                <select class="form-select small" id="condition_floor" style="width: 175px;">
                                    <option value="1">低楼层</option>
                                    <option value="2">中楼层</option>
                                    <option value="3">高楼层</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>
                            <div class="form-group" style="position:inherit;left: 10px ; width: 200px" >
                                <label class="form-label mt-4">装修</label>
                                <select class="form-select small" id="condition_house_type" style="width: 175px;">
                                    <option value="1">精装修</option>
                                    <option value="2">普通装修</option>
                                    <option value="3">毛坯房</option>
                                    <option value="4">其他</option>
                                    <option value="0">全选</option>
                                </select>
                            </div>

                        </div>

                        <br>

                        <div class="modal-footer gap-2">
                            <button type="button" class="btn btn-primary" style="width: 100px;height:40px;" onclick="ConditionSelectRequest()">检索</button>
                            <button type="button" class="btn btn-secondary" style="width: 100px;height:40px;" data-bs-dismiss="modal" onclick="ConditionSelectModalClose()">关闭</button>
                        </div>

                    </div>

                    
                </div>
            </div>
        </div>

        <!--房价查询模态框显示-->
        <div class="modal" id="data_select_control_card" style="display:none">
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="position:relative;right:200px;top: 100px; width:400px;height: 170px;">
                    <div style="margin-left: 30px;margin-top: 10px;margin-right: 20px;">
                        <div class="row">
                            <div class="form-group" style="position:inherit;left: 10px; width: 180px;" >
                                <select class="form-select small" id="data_select_operator" style="margin-top: 20px; width: 180px;" value="Rectangle">
                                    <option value="Rectangle">矩形</option>
                                    <option value="Circle">圆</option>
                                    <option value="Polygon">多边形</option>
                                    <option value="Clear">清空</option>
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="modal-footer gap-2">
                            <button type="button" class="btn btn-primary" style="width: 100px;height:40px;" onclick="DataSelectRequest()">检索</button>
                            <button type="button" class="btn btn-secondary" style="width: 100px;height:40px;" data-bs-dismiss="modal" onclick="DataSelectModalClose()">关闭</button>
                        </div>

                    </div>

                    
                </div>
            </div>
        </div>

        <div id="condition_select_show" style="position: absolute; left: 500px; top: 500px;">
            <div id="condition_select_card" class='card bg-light mb-3' style="margin-top:0.5em; display: none;">
            <div class="form-check" style="margin-left:1em;margin-top: 1em;margin-bottom: 1em;">



            </div>

        </div>
        </div>

    </div>

</body>
    <script src="../static/js/layers.js"></script>
    <script src="../static/js/index.js"></script>
</html>