<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>房价分析系统</title>

    <script src="../static/js/jquery_3.6.0.js"></script>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="margin-left: 1em;margin-right: 1em;">
            <a class="navbar-brand" href="#">OurHousePrice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                <span class="visually-hidden">(current)</span>
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="bs-docs-section" style="margin-top: 1em;margin-left: 1em;margin-right: 1em;margin-bottom: 0.5em; border-right: 1px;">
        <div class="row">
            <div class="container col-md-2">
                <ul class="nav nav-pills flex-column" id="tool_box">
                    <li class="nav-item" >
                        <a class="nav-link" href="#" id="data_show_control_label" onclick="OpenDataShowCard()">数据展示</a>
                        <div id="data_show_control_card" class='card bg-light mb-3' style="margin-top:0.5em; display: none;" onmouseover="DataShow()">
                            <div class="form-check" style="margin-left:1em;margin-top: 1em;margin-bottom: 1em;">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="House_check">
                                    <label class="form-check-label" for="House_check">房屋</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="Hospital_check">
                                    <label class="form-check-label" for="Hospital_check">医院</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="enviroment_check">
                                    <label class="form-check-label" for="enviroment_check">公园</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="subway_check">
                                    <label class="form-check-label" for="subway_check">地铁</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="bus_check">
                                    <label class="form-check-label" for="bus_check">公交车站</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="shopping_check">
                                    <label class="form-check-label" for="shopping_check">购物中心</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="restaurant_check">
                                    <label class="form-check-label" for="restaurant_check">餐厅</label>
                                </div>

                                <br>

                                <div>
                                    <input class="form-check-input" type="checkbox" id="All_check" onclick="checkOrCancelAll();">
                                    <label class="form-check-label text-primary" for="All_check">全选</label>
                                </div>


                            </div>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="data_select_control_label"  onclick="OpenDataSelectCard()">房价查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="data_analysis_control_label" onclick="OpenDataAnalysisCard()">房价分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="data_predict_control_label" onclick="OpenDataPredictCard()">房价评估预测</a>
                    </li>
                </ul>
            </div>

            <div class="container col-md-10">
                <!--地图容器-->
                <div class="">
                    <div id="map">
                        <iframe id="inlineFrameExample" title="Inline Frame Example" width="100%" height="670px" scrolling="No" control_scale="True" src={{init_map}}>
                </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
    <script src="../static/js/index.js"></script>
</html>